.login {
  background #000 url(/static/img/loginBg.jpg) center center
  background-size cover
  position absolute
  left 0
  top 0
  right 0
  bottom 0
}
.login form {
  width 400px
  position absolute
  left 50%
  top 50%
  margin-left -251px
  margin-top -270px
  padding 50px 50px 40px
  border 1px solid #c8c8c8
  border-radius 3px
  background-color rgba(255,255,255,.9)
  .logo {
    width 100%
    margin-bottom 20px
  }
  .label {
    display block
    margin-bottom 20px
  }
}
