html,
body,
.app,
.page {
  height 100%
}
body {
  background-color #EEE
  font-family Arial, -apple-system-font, 'Helvetica Neue', sans-serif !important
}
.weui-tabbar__icon {
  width 30px !important
}
.vux-tab-warp.tab-icon {
  padding-top 60px
  .vux-tab-container {
    height 60px
    .vux-tab {
      height 60px
      .vux-tab-item {
        line-height 16px
        padding-top 10px
        .icon {
          height 24px
          line-height 24px
          i {
            font-size 24px
          }
        }
        .label {
          font-size 12px
          line-height 16px
        }
      }
    }
  }
}
.vux-indicator.swiper-control-dot {
  bottom 5px !important
}
